<template>
  <div>

    <v-btn class="ml-0" depressed small @click="$router.go(-1)">Назад</v-btn>

    <v-data-table
      :headers="headers"
      :items="items"
      :loading="loading"
      hide-actions
      class="elevation-1"
    >
      <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
      <template slot="items" slot-scope="props">
        <td>{{ props.item.start_time }}</td>
        <td>{{ props.item.duration }}</td>
        <td>{{ props.item.manager }}</td>
        <td>{{ STATUSES[props.item.status] }}</td>
      </template>
    </v-data-table>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { STATUSES } from '@/utils/common'

export default {
  middleware: 'authenticated',
  data: () => ({
    loading: true,
    headers: [
      { text: 'Соединение', value: 'connection', sortable: false },
      { text: 'Разговор', value: 'talk', sortable: false },
      { text: 'Оператор', value: 'operator', sortable: false },
      { text: 'Статус', value: 'status', sortable: false },
    ],
    STATUSES,
  }),

  computed: {
    ...mapGetters({
      items: 'calls/details'
    }),
  },

  async created() {
    await this.$store.dispatch('calls/details', { call_id: this.$route.params.id })
    this.loading = false
  },

  beforeDestroy() {
    this.$store.commit('calls/setDetails', [])
  }
}
</script>
