// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

.text-right
  text-align: right

.pointer
  cursor: pointer

.sub-menu-active-class
  background: rgba(255, 255, 255, 0.23)

.menu-active-class
  color: #03A9F4

.list__tile__title
  font-size: 12px

// .page-enter-active, .page-leave-active
//   transition: opacity .5s, transform .5s

// .page-enter, .page-leave-to
//   opacity: 0;
//   transform: translateY(-30%)
