<template>
  <v-app>
    <v-navigation-drawer
      :clipped="clipped"
      v-model="drawer"
      class="blue darken-2"
      enable-resize-watcher
      dark
      fixed
      app
    >
      <v-card v-if="isProfileLoaded">
        <v-card-media
          class="white--text"
          height="150px"
          src="https://cdn.dribbble.com/users/106596/screenshots/2269537/thumbnail-materialdesign.jpg"
        >
          <v-container fill-height fluid class="pr-0">
            <v-layout fill-height column>
              <v-flex xs12>
                <v-avatar
                  :tile="false"
                  size="50px"
                >
                  <img src="https://www.gravatar.com/avatar/bf925ae17fa9e1f08f5ca13b796dab70" alt="avatar">
                </v-avatar>
              </v-flex>
              <v-flex x12>
                <v-layout row>
                  <v-flex x10>
                    <div class="name">{{ user.name }}</div>
                    <div class="email">{{ user.email }}</div>
                  </v-flex>

                  <v-flex x2 class="text-right">
                    <v-menu bottom left>
                      <v-btn slot="activator" icon>
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile @click="1">
                          <v-list-tile-title>Профиль</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="logout">
                          <v-list-tile-title>Выход</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>

        </v-card-media>
      </v-card>

      <v-list>
        <v-list-tile
          @click="go({ old: true, url: '/' })"
          active-class="sub-menu-active-class"
        >
          <v-list-tile-action>
            <v-icon>poll</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Сводка</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-group
          v-for="item in items"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.icon"
          active-class="menu-active-class"
          v-if="hasAccessToMain(item)"
          no-action
        >
          <v-list-tile slot="activator" active-class="menu-active-class">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-for="subItem in item.items"
            :key="subItem.title"
            active-class="sub-menu-active-class"
            @click.prevent="go(subItem)"
            :to="subItem.url"
            v-if="hasAccessTo(subItem)">

            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>

    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="clipped"
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>

      <v-spacer />

    </v-toolbar>

    <v-content>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-content>

  </v-app>
</template>

<script>
import { menuItems } from '@/utils/common'
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      miniVariant: false,
      items: menuItems,
      title: 'POWERPARTNERS.RU',
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/profile',
      isProfileLoaded: 'user/isProfileLoaded'
    })
  },

  methods: {
    async logout() {
      await this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    },

    go(route) {
      if (route.old) {
        const url = `http://${location.host}${route.url}`
        window.open(url, '_self')
      } else {
        this.$router.push(route.url)
      }
    },

    hasAccessTo(item) {
      if (this.isProfileLoaded) {
        if (this.user.roles.admin) return true

        let hasAccess = true

        if (item.access) {
          hasAccess = item.access.some(role => this.user.roles[role])
        }

        if (hasAccess && item.privileges) {
          return item.privileges.some(privilege => this.user.privileges[privilege])
        }

        return hasAccess
      }
      return true
    },

    hasAccessToMain(item) {
      if (item.showAlways) return true

      if (this.isProfileLoaded) {
        return item.access && item.access.some(role => this.user.roles[role])
      }
      return false
    },
  },
}
</script>
