<template>
  <v-layout column>
    <v-flex>

      <nuxt-child/>

      <div class="text-xs-center" v-show="!detailsView">

        <div class="text-xs-right mb-5">
          <no-ssr>
            <date-picker
              v-model="date"
              confirm
              @confirm="onDateConfirm"
              lang="ru"
              range
              format="dd.MM.YYYY"
              :first-day-of-week="1"
              :shortcuts="shortcuts">
            </date-picker>
          </no-ssr>
        </div>

        <v-data-table
          :headers="headers"
          :items="items"
          :loading="loading"
          hide-actions
          class="elevation-1"
        >
          <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>

          <template slot="items" slot-scope="props">
            <tr
              @click="showDetails(props.item.call_id)"
              :class="{ 'red--text': props.item.status === 'missed' }"
              class="pointer"
            >
              <td class="text-xs-left">{{ props.item.start_time }}</td>
              <td class="text-xs-left">{{ props.item.site }}</td>
              <td class="text-xs-left">{{ props.item.manager }}</td>
              <td class="text-xs-left">{{ props.item.response_time }}</td>
              <td class="text-xs-left">{{ props.item.duration }}</td>
              <td class="text-xs-left">{{ STATUSES[props.item.status] }}</td>
            </tr>
          </template>
        </v-data-table>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import DatePicker from 'vue2-datepicker'
import moment from 'moment'
import { STATUSES } from '@/utils/common'

export default {
  middleware: 'authenticated',
  components: { DatePicker },

  data: () => ({
    date: [new Date(), new Date()],
    shortcuts: [
      {
        text: 'Сегодня',
        start: new Date(),
        end: new Date(),
      },
      {
        text: 'Вчера',
        start: moment().subtract(1, 'days').toDate(),
        end: moment().subtract(1, 'days').toDate(),
      },
      {
        text: 'Последние 7 дней',
        start: moment().subtract(7, 'days').toDate(),
        end: new Date(),
      },
      {
        text: 'Последние 30 дней',
        start: moment().subtract(30, 'days').toDate(),
        end: new Date(),
      },
      {
        text: 'Этот месяц',
        start: moment().startOf('month').toDate(),
        end: new Date(),
      },
      {
        text: 'Прошлый месяц',
        start: moment().subtract(1, 'month').startOf('month').toDate(),
        end: moment().subtract(1, 'month').endOf('month').toDate(),
      },
    ],
    headers: [
      { text: 'Время', align: 'left', sortable: false },
      { text: 'Номер/Сайт', sortable: false },
      { text: 'Оператор', sortable: false },
      { text: 'Ожидание', sortable: false },
      { text: 'Длительность', sortable: false },
      { text: 'Статус', sortable: false },
    ],
    STATUSES,
    loading: true,
    detailsView: true,
  }),

  computed: {
    ...mapGetters({
      items: 'calls/calls'
    }),
    dateFrom() {
      return moment(this.date[0]).format('YYYY-MM-DD')
    },
    dateTo() {
      return moment(this.date[1]).format('YYYY-MM-DD')
    },
  },

  mounted() {
    this.detailsView = (this.$route.name === 'calls-id')
    this.loadData()
  },

  beforeRouteUpdate(to, from, next) {
    this.detailsView = (to.name === 'calls-id')
    next()
  },

  methods: {
    async loadData() {
      this.loading = true
      await this.$store.dispatch('calls/load', { from: this.dateFrom, to: this.dateTo })
      this.loading = false
    },

    showDetails(id) {
      this.$router.push({ name: 'calls-id', params: { id } })
    },

    onDateConfirm() {
      this.loadData()
    },
  },

}
</script>

<style lang="scss">

.mx-datepicker-popup.range {
  width: 662px !important;
}
@media all and (max-width: 600px) {
  .mx-datepicker {
    width: 100%;
    z-index: 1;
  }

  .mx-datepicker-popup.range {
    width: 100% !important;
    left: unset !important;
    top: unset !important;
  }

  .mx-calendar {
    float: unset !important;
    width: 100% !important;
  }

  .mx-datepicker-top>span {
    white-space: unset !important;
  }
}
</style>
