<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-xs-center">
        <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  middleware: 'authenticated',
}
</script>
