<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-tabs grow left v-model="tab">
            <v-tab @click="changePath()" href="#login">Вход</v-tab>
            <v-tab @click="changePath('signup')" href="#signup">Регистрация</v-tab>
          </v-tabs>
          <v-card-text>

          </v-card-text>
          <v-tabs-items v-model="tab">
            <v-tab-item id="login">
              <v-card-text>

                <v-form>
                  <v-text-field
                    label="E-mail"
                    ref="email"
                    required
                    :error-messages="emailErrors"
                    @input="emailErrors = []"
                    v-model="credentials.email">
                  </v-text-field>

                  <v-text-field
                    label="Пароль"
                    type="password"
                    required
                    v-model="credentials.password">
                  </v-text-field>

                  <v-checkbox
                    label="Запомнить меня?"
                    v-model="credentials.rememberMe"
                  ></v-checkbox>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn :disabled="$v.$invalid" @click="login" color="primary">Войти</v-btn>
                  </v-card-actions>
                </v-form>

              </v-card-text>
            </v-tab-item>

            <v-tab-item id="signup">
              <v-card-text>
                <v-form>

                  <v-text-field
                    label="Ваше имя"
                    v-model="reg.name">
                  </v-text-field>

                  <v-text-field
                    label="E-mail"
                    v-model="reg.email">
                  </v-text-field>

                  <v-text-field
                    label="Пароль"
                    v-model="reg.password">
                  </v-text-field>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary">Зарегистрироваться</v-btn>
                  </v-card-actions>

                </v-form>
              </v-card-text>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import Cookie from 'js-cookie'
import { required } from 'vuelidate/lib/validators'

export default {
  middleware: 'notAuthenticated',
  name: 'Login',

  validations: {
    credentials: {
      email: { required },
      password: { required },
    },
  },

  data: () => ({
    tab: 'login',
    credentials: {
      email: '',
      password: '',
      rememberMe: false,
    },
    reg: {},
    emailErrors: [],
  }),

  asyncData({ query }) {
    return { tab: query.mode || 'login' }
  },

  methods: {
    ...mapActions({ logIn: 'auth/login'}),

    login() {
      this.logIn(this.credentials)
        .then(() => this.$router.push('/'))
        .catch(this.handleError)
    },

    handleError(error) {
      if (error.code === 3) {
        this.emailErrors.push(error.msg)
        this.$refs.email.focus()
      } else {
        this.$toast.info(error.msg, {
          duration: '2000',
        })
      }
    },

    changePath(mode) {
      this.$router.push({ name: 'login', query: { mode } })
    },
  },
}
</script>
