<template>
  <div>
    <!-- begin of composite.htm-->

<h1>Композитные (составные) товары или комплекты</h1>

Специфика ниши электрооборудования такова, что в некоторых случаях конкретному запросу посетителя соотвествует
не какой-то один определённый товар, а <b>комплект</b> из товаров нашего ассортимента.

<p>Например, под запросом "трёхфазный стабилизатор" часто подразумевается "стабилизатор для трёхфазной сети". В этом случае,
стабилизация линейного напряжения (380В) не требуется и необходима лишь независимая стабилизация каждой фазы по фазному
напряжению (220В х 3). В таких случаях использование трёхфазных стабилизаторов нежалательно, и следует устанавливать
комплект из 3-х однофазных стабилизаторов, поддерживающих фазное напряжение 220В на каждой фазе, независимо от колебаний
линейного (380В) напряжения.</p>

<p>Другой пример - "ИБП для котла". Использовать обычные бытовые бесперебойники для котла нельзя, во-первых, они выдают
модифицированную синусоиду, от которой котлы отопления просто не работают, во-вторых, их встроенный аккумулятор
обеспечивает слишком короткое время автономной работы от 3 до 20 мин., что неприемлемо для систем отопления (хотя и
достаточно, чтобы сохранить все файлы и корректно завершить работу компьютера). Поэтому, запросу "ИБП для котла"
максимально точно соотвествует комплект "Инвертор + АКБ", где инвертор подобран исходя из максимальной потребляемой
мощности, а АКБ исходя из требуемого времени автономной работы.</p>

<p>Для таких случаев, движок партнёрского магазина PowerPartners.ru обеспечивает возможность создания композитных
(составных) товаров или комплектов.</p>

<p>Рассмотрим пример создания композитного товара:</p>

<h2>Электронный трёхфазный стабилизатор на 15кВт</h2>

Возьмём, к примеру, запрос "Электронный трёхфазный стабилизатор на 15кВт". Как известно, электронных трёхфазных стабилизаторов не
бывает. Для работы в трёхфазной сети, в блок объединяются 3 однофазных стабилизатора, обеспечивая независимую стабилизацию фазного
напряжения 220В на каждой фазе.

Поэтому, такому запросу макимально точно соотвествует комплект из 3-х однофазных электронных стабилизаторов, например
3шт Classic-5000.

<p>Давайте создадим для этого запроса новый <b>составной</b> товар, который будет представлять из себя комплект 3-х однофазных
стабилизаторов Classic-5000.</p>

<p>Выберем для нового композитного товара название и уникальный код - пусть он будет называться <b>Classic-15000/3</b>
и иметь код <b>classic-15000-3</b>.</p>

<p>Для начала подготовим изображения комплекта: одно маленькое png 100x100 и одно или несколько крупных изображений
png 800x800.</p>

<p><img src="img/composite/images.jpg"></p>

<p>Сохраним файлы classic-15000-3.png и classic-15000-3_big.png в каталог /custom/products/img/</p>

<p>Теперь приступаем к созданию описания нового составного товара. Возьмем за основу описание на любой другой товар и создадим
на его основе описание нашего комплекта. Описание сохраним в каталоге /custom/products/html/, c расширением .htm,
и именем, совпадающим с кодом товара. В нашем случае описание будет храниться в файле /custom/products/html/classic-15000-3.htm</p>

<p>При подготовки описания следует сделать особый акцент на то, что данный товар является комплектом, т.е. представляет из себя
несколько товаров. Это не только поможет покупателю более точно понять содржимое заказа, но и облегчит общение покупателя
с менеджером магазина. Например, для нашего комплекта Classic-15000/3 уместно будет упомянуть, что это <b>модульный</b> стабилизатор
состоящий из 3-х однофазных стабилизаторов.</p>

<p>Так же, следует уделить особое внимание таблице технических характеристик композитного товара:</p>

<ol>
<li>У композитного товара могут появиться новые характеристики, которыми товары комплекта не обладали по отдельности.
Например, у комплекта инвертор+АКБ появляется характеристика "Время автономной работы", которая не присуща ни ивертору,
ни АКБ по отдельности.</li>
<li>Масса композитного товара является суммой масс составляющих его товаров</li>
<li>Указывая размеры комплекта, лучшим решением будет указать габариты составляющих его товаров</li>
</ol>

<p>После подготовки изображений и описания композитного товара можно переходить непосредственно к добавлению нового товара в
ассортимент магазина.</p>

<p>Прежде всего, необходимо разрешить в магазине использование сторонних товаров. Для этого в файле config-local.php следует
установить переменную $ALLOW_THIRD_PARTY_PRODUCTS в значение 1. Добавляем следующую строку в config-local.php</p>

<pre>
  $ALLOW_THIRD_PARTY_PRODUCTS = 1;
</pre>

<p>Теперь мы можем добавить наш комплект в ассортимент магазина. Обязательно изучите <a href="custom_xml.htm">инструкцию по кастомизации xml</a>
и приступайте к редактированию файла /custom/shop.xml. Добавим в него товар с кодом classic-15000-3 следующим образом:</p>

<pre>
&lt;?xml version=&quot;1.0&quot; encoding=&quot;windows-1251&quot;?&gt;

&lt;shop&gt;
  &lt;products&gt;

    &lt;product code=&quot;classic-15000-3&quot;&gt;
      &lt;category&gt;Стабилизатор напряжения&lt;/category&gt;
      &lt;trademark&gt;Энергия&lt;/trademark&gt;
      &lt;series&gt;CLASSIC&lt;/series&gt;
      &lt;model&gt;Classic 15000/3&lt;/model&gt;
      <b>&lt;composite&gt;
        &lt;item code=&quot;classic-5000&quot; quantity=&quot;3&quot;/&gt;
      &lt;/composite&gt;</b>
      &lt;description&gt;Электронный модульный стабилизатор для трехфазной сети, надёжно защищающий от скачков и просадок напряжения&lt;/description&gt;
      &lt;characteristics&gt;
        &lt;chracteristic name=&quot;Напряжение входа, В&quot; value=&quot;60 - 265&quot; /&gt;
        &lt;chracteristic name=&quot;Напряжение выхода, В&quot; value=&quot;220 &plusmn; 5%&quot; /&gt;
        &lt;chracteristic name=&quot;Мощность, кВА&quot; value=&quot;15&quot; /&gt;
      &lt;/characteristics&gt;
      &lt;type&gt;3&lt;/type&gt;
      &lt;case&gt;1&lt;/case&gt;
      &lt;phases&gt;3&lt;/phases&gt;
      &lt;power&gt;15000&lt;/power&gt;
      <b>&lt;image&gt;../../custom/products/img/classic-15000-3.png&lt;/image&gt;
      &lt;image_big&gt;../../custom/products/img/classic-15000-3_big.png&lt;/image_big&gt;</b>
      &lt;html&gt;classic-15000-3.htm&lt;/html&gt;
      &lt;bestseller&gt;0&lt;/bestseller&gt;
      &lt;certificate&gt;pages/img/energy-cert.jpg&lt;/certificate&gt;
      &lt;manual&gt;pages/img/classic-ultra_passport.pdf&lt;/manual&gt;
    &lt;/product&gt;

  &lt;/products&gt;
&lt;/shop&gt;
</pre>

<p>Основное отличие композитных товаров от обычных - наличие узла <b>composite</b>. В нём содержатся дочерние узлы <b>item</b>,
определяющие какие товары содержатся в составе комплекта. У каждого узла <b>item</b> есть два аттрибута: <b>code</b> и <b>quantity</b>,
которые определяют код товара и его количество в составе комплекта. В узле <b>composite</b> может быть один или более
дочерних узлов <b>item</b>.</p>

<p>Обратите так же внимание как задаются ссылки на изображения (узлы <b>image</b>, <b>image_big</b>, <b>image_big_2</b> и т.д.), поскольку базовым
каталогом для изображений является /products/img/, а мы поместили наши изображения в каталог /custom/products/img/,
следовательно, для коректного указания ссылки на изображение необходимо использовать относительный путь
<b>../../custom/products/img/</b>.</p>

<p>Стоимость, вес и наличие для составных товаров вычисляются автоматически, поэтому явное указание узлов</p>
<b>price</b>, <b>weight</b> и <b>available</b> не требуется.

<p>После добавления нового товара в xml мы уже сможем увидеть его в категории "Трехфазные стабилизаторы":</p>

<p><img src="img/composite/cat.jpg"></p>

<p>Страница с подробным описанием товара будет выглядеть вот так:</p>

<p><img src="img/composite/prod.jpg"></p>

<p>Обратите внимание, что в тексте четко указано, что данный товар является комплектом из трех блоков Classic-5000,
а так же расписаны приимущества модульных стабилизаторов по сравнению с моноблочными трехфазными. Так же посмотрите на то,
как в таблице технических характеристик указаны мощность, размеры и масса.</p>

<p>Если добавить композитный товар в корзину - в нее автоматически попадут все товары составляющие комплект:</p>

<p><img src="img/composite/cart.jpg"></p>

<p>Показанный пример является демонстрацией способа создавать композитные товары. Пользуясь этим методом можно
создавать различные варианты комплектации составных товаров, например:</p>

<ul>
<li>Комплекты из трех однофазных стабилизаторов и монтажной стойки</li>
<li>ИБП для котла: комплект из инвертора и аккумулятора(-ов)</li>
<li>и т.п.</li>
</ul>

<!-- end of composite.htm-->

  </div>
</template>

<script>
/* eslint-disable */
export default {
  head () {
    return {
      title: 'Композитные (составные) товары / комплекты',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Руководство по наполнению партнерского магазина композитными (составными) товарами'
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'партнерка, партнерский магазин, уникализация, костомизация, композитные товары, составные товары'
        }
      ]
    }
  }
}
</script>
